<div *ngIf="countryDetail$ | async as detail">
  <div class="title-container">
    <p>{{ detail.country }}</p>
  </div>

  <div class="stats-container">
    <p>
      Number of entries <span>{{ detail.numberOfParticipations }}</span>
    </p>
    <p>
      Total number medals <span>{{ detail.totalMedals }}</span>
    </p>
    <p>
      Total number of athletes <span>{{ detail.totalAthletes }}</span>
    </p>
  </div>
</div>

<div *ngIf="lineData$ | async as lineData">
  <div class="line-chart">
    <ngx-charts-line-chart
      [legend]="legend"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxis]="xAxis"
      [yAxis]="yAxis"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel"
      [results]="lineData"
    >
    </ngx-charts-line-chart>
  </div>
</div>

<div class="button-container">
  <a [routerLink]="'/'">
    <span class="material-icons">arrow_back</span>
  </a>
</div>
