::ng-deep {
  .ngx-charts-tooltip-content {
    background-color: #0d8284 !important;
    color: white !important;
    border-radius: 10px !important;
    padding: 10px 10px !important;
    font-size: 14px;
  }

  .pie-label {
    font-size: 20px !important;
    font-weight: 100;
  }

  .pie-label-line {
    stroke-width: 1px !important;
  }
}
