<div class="title">
  <h1>Olympic Games Starter</h1>
</div>

<div class="title-container">
  <p>Medals per Country</p>
</div>

<div class="stats-container">
  <p>
    Numbers of JOs <span>{{ numberOfJOs }}</span>
  </p>
  <p>
    Number of countries <span>{{ numberOfCountries }}</span>
  </p>
</div>
<div class="pie-chart">
  <ngx-charts-pie-chart
    [view]="view"
    [results]="pieData"
    [labels]="showLabels"
    [doughnut]="isDoughnut"
    [explodeSlices]="false"
    [gradient]="false"
    (select)="onSelectCountry($event)"
  >
    <ng-template #tooltipTemplate let-model="model">
      <div class="custom-tooltip">
        <p>{{ model.name }}</p>
        <p>🏅 {{ model.value }}</p>
      </div>
    </ng-template>
  </ngx-charts-pie-chart>
</div>

<hr />
<p>{{ (olympics$ | async)?.length }} data loaded</p>
